body{
    background-color: hsl(180, 100%, 50%);
    background: url("windows.PNG") no-repeat ;
    background-size: cover;
}
p{
    background-color: hsl(33, 100%, 80%);
    position: relative;

}
p:hover{
    background-color: hsl(33, 100%, 88%);
    top: 20px;
}